.container {
    max-width: 600px;
    margin: 50px auto 0 auto;
}

.status {
    font-weight: bold;
}

.date {
    font-weight: bold;
}

.link-wrapper {
    margin: 10px 0;
}

.link-wrapper > a {
    text-decoration: none;
    color: rgb(96, 122, 171);
}

.link-wrapper > a:hover {
    text-decoration: underline;
    color: rgb(59, 101, 181);
}

.status-button {
    border: none;
    background-color: rgb(132, 169, 229);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.status-button:hover {
    background-color: rgb(176, 199, 236);
}

.delete {
    border: none;
    background-color: rgb(255, 97, 97);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.delete:hover {
    background-color: rgb(250, 136, 136);
}

.author {
    font-weight: bold;
}
